@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
    font-size: 18px;
}

html{
   font-size: 16px;
   font-family: 'Fraunces';
}

.main-header {
    background: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-position: center;
    
}

.main-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header-container ul{
    list-style: none;
    margin: 1.5em 0;
}

.company-name {
    font-family: 'Barlow';
    font-weight: 800;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    padding: 0px 20px;
}

.nav p {
    text-decoration: none;
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.nav li {
    display: inline;
    padding: 20px;
}

.header-nav li {
    display: inline;
    padding: 15px;
    margin-right: 2rem;
}

.header-nav li a {
    margin-right: -3rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 30px;
}

.header-nav li a:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    border-radius: 30px;
}

#contact {
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-family: 'Fraunces';
    padding: 17.5px 30px 17.5px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 32px;
    margin: 15px 0px;
}

#contact:hover{
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: rgba(255, 255, 255, 0.3);
}

.logo{
    margin-left: 1rem;
}

.arrow-container {
    text-transform: uppercase;
    text-align: center;
}
.arrow-container p{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 2.8em;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    letter-spacing: 8px;
    color: hsl(0, 0%, 100%);
}

/* main section styling starts here */

.column {
    width: 100vw;
    /* height: 100h; */
    display: flex;    
}

.content {
    padding: 10px;
    margin: 0px;
}
.column h1 {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 2rem;
    margin: 4em 60px 10px;
    padding: 0 0 0 60px;
}

.column a {
    margin: 0px 120px 10px;
    line-height: 1.5em;
    color: black;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
}

.column a:hover {
    text-decoration: none;
}

.column span {
    display: block;
    width: 7.5rem;
    margin-left: 115px;
    margin-top: -10px;
    border-radius: 5px;
    border: 5px solid hsla(51, 100%, 49%, 0.3);
}
.column a:hover + span {
    border: 5px solid hsl(51, 100%, 49%);
}


.text-area{
    margin-top: 15rem;
}

.transform-column p {
    margin: 1.75em 60px 40px;
    padding-left: 60px;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
}

.cup-column p {
    margin: 1.75em 60px 40px;
    padding-left: 60px;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
}

.cup-column span {
    border: 5px solid hsla(7, 99%, 70%, 0.3);
}


.cup-column a:hover + span {
    border: 5px solid hsl(7, 99%, 70%);
}

section {
    width: 50vw;
    height: 600px;
}
.img-box{
    width: 50vw;
    height: 600px;  
}

.text-image-column section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.text-image-column p {
    line-height: 1.5rem;
    margin-bottom: 4rem;
}

.text-image-column h1 {
    font-family: 'Fraunces';
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
}

.container {
    text-align: center;
}

.graphic-content {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    color: hsl(167, 40%, 24%);
    background-position: center;
    background-size: cover;
}

.photography-content {
    background-image: url('./images/desktop/image-photography.jpg');
    color: hsl(198, 62%, 26%);
    background-position: center;
    background-size: cover;
}

.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 70px 0;
}

.testimonials h1 {
    margin: 3rem;
    font-family: 'Fraunces';
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    color: hsl(210, 4%, 67%);
}

.testimonials img {
    border-radius: 50%;
    width: 65px;
}

.clients {
    display: flex;
    margin: 0px 100px;
}

.clients div {
    margin: 0 5px;
}

.clients p {
    margin: 50px 0px;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
    font-weight: 600;
}

.clients strong {
    font-family: 'Fraunces';
    font-weight: 800;
    color: hsl(212, 27%, 19%);
}

.clients span {
    display: block;
    color: hsl(210, 4%, 67%);
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 0.8em;
}

.gallery-images {
    display: flex;
    flex-direction: row;
}

.gallery-images img {
    width: 25vw;
}

.footer{
    background-color:rgba(38, 172, 145, 0.6);
    height: 300px;
    width: 100vw;
}

.footer-nav li {
    display: inline-block;
    padding: 10px;
}

.footer-nav a {
    text-decoration: none;
    color: hsl(167, 40%, 24%);
}

.footer-nav a:hover {
    color: hsl(0, 0%, 100%);
}

.footer-nav img:hover {
    filter: brightness(0) invert(1);
}

.company-name-container h1 {
    display: inline-block;
    text-align: center;
    color: hsl(167, 40%, 24%);
    margin: 50px 0px 30px;
}

.socials a{
    text-decoration: none;
    display: inline-block;
    margin: 50px 0px;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 1020px) {
    .main-header {
        background: url("./images/desktop/image-header.jpg");        
        background-size: 1020px 100vh;
        height: 100vh;
        background-position: top;
        
    }

    .hamburger{
        display: block;
        position: absolute;
        top: .8rem;
        right: .5rem;
        padding: 7.5px 15px 0;
    
    }

    .header-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 3;
        top: 35px;
        background: rgb(243, 240, 240);
        left: 1.3rem;
        right:  1.4rem;
        padding: 2rem;
        border-radius: 4px;
        clip-path: polygon(93% 11%, 100% 0, 100% 100%, 0 100%, 0 57%, 0 11%);
        padding-top: 5rem;
        padding-bottom: 4rem;
    }

    .header-nav li {
        text-align: center;
    }

    .header-nav li a {
        color: rgb(109, 107, 107);
    }

    .header-nav li a:hover{
        cursor: pointer;
        color: black;
        background-color: rgb(245, 184, 17);
    }

    #contact {   
        display: inline-block;     
        margin: 5px -3rem 0px 0px;
        background-color: rgb(245, 184, 17);
    }
    
    #contact:hover{
        cursor: pointer;
        color: black;
        background-color: rgba(245, 184, 17, 0.3);
    }

    .header-nav.show {
        display: flex;
    }

    .arrow-container p {
        position: relative;
    }
    
    .logo{
        margin-top: 5%;
    }
    
    .nav{
        display: none;
    }

    .arrow-container p{
        font-size: 1.75em;
        margin-top: 70px;
        margin-bottom: 57.5px;
        padding: 20px;
    }


    .column h1 {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        padding: 25px;
    }
        
    .column a {
        margin: 0px;
        text-align: center;
    }

    .column a:hover {
        text-decoration: none;
    }

    .column span {
        align-items: center;
        display: block;
        width: 117px;
        margin-left: 0px;
        margin-top: -10px;
        border-radius: 5px;
    }
            
    section {
        width: 100vw;
        height: 100%;
    }

    .content {
        padding: 20px;
        margin: 0px;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    img {
        height: auto;
    }
        
    .img-box{
        width: 100vw;
        height: 50vh; 
    }

    .transform-column {
        height: 655px;
        display: flex;
        flex-direction: column-reverse;
    }

    .transform-column {
        display: flex;
        flex-direction: column-reverse;
    }

    .transform-column h1 {
        font-size: 1.75em;
    }

    .transform-column p {
        text-align: center;
        margin: 0px;
        padding-left: 0;
        line-height: 1.5em;
        color: hsl(213, 9%, 39%);
    }

    .transform-column a {
        margin-top: 30px;
    }

    .transform-column span {
        align-self: center;
        margin-bottom: 50px;
    }

    .cup-column {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .cup-column h1 {
        font-size: 1.75em;
    }

    .cup-column p {
        text-align: center;
        margin: 0px;
        padding-left: 0px;
        line-height: 1.5em;
        color: hsl(213, 9%, 39%);
    }

    .cup-column a {
        margin-top: 30px;
    }

    .cup-column span {
        align-self: center;
        margin-bottom: 50px;
    }

    .text-image-column {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .text-image-column section {
        height: 600px;
        background-position: center;
        background-size: cover;

    }

    .text-image-column h1 {
        font-family: 'Fraunces';
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.5rem;
        margin-bottom: 1.75rem;
    }

    .text-image-column p {
        line-height: 1.5rem;
        margin-bottom: 4rem;
    }

    .graphic-content {
        background-image: url('./images/desktop/image-graphic-design.jpg');
        color: hsl(167, 40%, 24%);
        background-position: center;
        background-size: cover;
    }

    .photography-content {
        background-image: url('./images/desktop/image-photography.jpg');
        color: hsl(198, 62%, 26%);
        background-position: center;
        background-size: cover;
    }

    .testimonials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .testimonials h1 {
        letter-spacing: 2px;
    }

    .clients {
        display: flex;
        flex-direction: column;
    }

    .clients div {
        width: 100vw;
    }

    .clients p {
        margin: 25px 15px;
        line-height: 1.5em;
        color: hsl(213, 9%, 39%);
        font-weight: 600;
    }

    .clients strong {
        font-family: 'Fraunces';
        font-weight: 800;
        color: hsl(212, 27%, 19%);
    }

    .clients span {
        display: block;
        color: hsl(210, 4%, 67%);
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        font-size: 0.8em;
    }

    .gallery-images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gallery-images img {
        width: 50vw;
    }

}

/* 
@media screen and (max-width:768px) {
 .header-nav{
     display: none;
 }
} */

@media screen and (max-width: 375px) {
    .main-header {
        background: url("./images/mobile/image-header.jpg");        
        background-position: initial;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100vw;
        height: 600px;
    }
}
