@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
    font-size: 18px;
}

body {
    padding: 0px;
    margin: 0px;
}

.main-header {
    background: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 740px;
    background-position: center;
    
}

.company-name {
    font-family: 'Barlow';
    font-weight: 800;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    padding: 0px 20px;
}

.contact {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    font-family: 'Fraunces';
    padding: 17.5px 30px 17.5px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 32px;
    margin: 15px 0px;
}

.contact:hover{
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: rgba(255, 255, 255, 0.3);
}

.nav p {
    text-decoration: none;
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.nav li {
    display: inline;
    padding: 20px;
}

.main-header-container {
    display: flex;
    align-items: center;
}

.main-header-container ul{
    margin: 1.5em 0;
    flex-grow: 1;
    text-align: end;
}

.arrow-container p{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 2.8em;
    margin-top: 70px;
    margin-bottom: 75px;
    padding: 20px;
    letter-spacing: 8px;
    color: hsl(0, 0%, 100%);
}

.arrow-container {
    text-transform: uppercase;
    text-align: center;
}

.column {
    width: 100vw;
    height: 600px;
    display: flex;    
}

.column h1 {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 2rem;
    margin: 4em 60px 10px;
    padding: 0 0 0 60px;
}

.transform-column p {
    margin: 1.75em 60px 40px;
    padding-left: 60px;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
}

.cup-column p {
    margin: 1.75em 60px 40px;
    padding-left: 60px;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
}

.column a {
    margin: 0px 120px 10px;
    line-height: 1.5em;
    color: black;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
}

.column a:hover {
    text-decoration: none;
}

.column span {
    display: block;
    width: 117px;
    margin-left: 115px;
    margin-top: -10px;
    border-radius: 5px;
}

.transform-column span {
    border: 5px solid hsla(51, 100%, 49%, 0.3);
}

.cup-column span {
    border: 5px solid hsla(7, 99%, 70%, 0.3);
}

.transform-column a:hover + span {
    border: 5px solid hsl(51, 100%, 49%);
}

.cup-column a:hover + span {
    border: 5px solid hsl(7, 99%, 70%);
}

section {
    width: 50vw;
}

.content {
    padding: 10px;
    margin: 10px;
}

.img-box{
    width: 50vw;
    height: 600px;  
}

.graphic-content {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    color: hsl(167, 40%, 24%);
    background-position: center;
    background-size: cover;
}

.photography-content {
    background-image: url('./images/desktop/image-photography.jpg');
    color: hsl(198, 62%, 26%);
    background-position: center;
    background-size: cover;
}

.text-image-column section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.text-image-column p {
    line-height: 1.5rem;
    margin-bottom: 4rem;
}

.text-image-column h1 {
    font-family: 'Fraunces';
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
}

.testimonials img {
    border-radius: 50%;
    width: 65px;
}

.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 70px 0;
}

.testimonials h1 {
    margin: 3rem;
    font-family: 'Fraunces';
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    color: hsl(210, 4%, 67%);
}

.clients {
    display: flex;
    margin: 0px 100px;
}

.clients div {
    margin: 0 5px;
}

.clients p {
    margin: 50px 0px;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
    font-weight: 600;
}

.clients strong {
    font-family: 'Fraunces';
    font-weight: 800;
    color: hsl(212, 27%, 19%);
}

.clients span {
    display: block;
    color: hsl(210, 4%, 67%);
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 0.8em;
}

.gallery-images {
    display: flex;
    flex-direction: row;
}

.gallery-images img {
    width: 25vw;
}

.footer{
    background-color:rgba(38, 172, 145, 0.6);
    height: 300px;
    width: 100vw;
}

.container {
    text-align: center;
}

.container li {
    display: inline-block;
    padding: 10px;
}

.footer-nav a {
    text-decoration: none;
    color: hsl(167, 40%, 24%);
}

.footer-nav a:hover {
    color: hsl(0, 0%, 100%);
}

.nav img:hover {
    filter: brightness(0) invert(1);
}

.company-name-container h1 {
    display: inline-block;
    text-align: center;
    color: hsl(167, 40%, 24%);
    margin: 50px 0px 30px;
}

.socials a{
    text-decoration: none;
    display: inline-block;
    margin: 50px 0px;
}

@media screen and (max-width: 1020px) {

    
.main-header {
    background: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 1020px 100vh;
    width: 100vw;
    height: 100vh;
    background-position: top;
    
}

.arrow-container p{
    font-size: 1.75em;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 20px;
}


.column h1 {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 25px;
}
    
section {
    width: 100vw;
}

img {
    height: auto;
}
    
.img-box{
    width: 100vw;
    height: 50vh; 
}
    
.column a {
    margin: 0px;
    line-height: 1.5em;
    color: black;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.column a:hover {
    text-decoration: none;
}

.column span {
    align-items: center;
    display: block;
    width: 117px;
    margin-left: 0px;
    margin-top: -10px;
    border-radius: 5px;
}

.content {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.transform-content {
    height: 383px;
}

.transform-column h1 {
    font-size: 1.75em;
}

.transform-column span {
    align-self: center;
    margin-bottom: 50px;
}

.transform-column {
    height: 655px;
    display: flex;
    flex-direction: column-reverse;
}

.transform-column a {
    margin-top: 30px;
}

.transform-column p {
    text-align: center;
    margin: 0px;
    padding-left: 0;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
}

.cup-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cup-column h1 {
    font-size: 1.75em;
}

.cup-column a {
    margin-top: 30px;
}

.cup-column p {
    text-align: center;
    margin: 0px;
    padding-left: 0px;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
}

.cup-column span {
    align-self: center;
    margin-bottom: 50px;
}

.text-image-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-image-column section {
    height: 600px;
    background-position: center;
    background-size: cover;
}

.text-image-column h1 {
    font-family: 'Fraunces';
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 1.5rem;
}

.text-image-column p {
    line-height: 1.5rem;
    font-size: 0.9em;
    padding: 0 15px;
    margin-bottom: 4rem;
}

.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.testimonials h1 {
    letter-spacing: 2px;
}

.clients {
    display: flex;
    flex-direction: column;
}

.clients div {
    width: 100vw;
}

.clients p {
    margin: 25px 15px;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
    font-weight: 600;
}

.gallery-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-images img {
    width: 50vw;
}

}